@model GermanHomeopathic.Models.TaxViewModel


@{
    ViewBag.Title = "Tax";
    string act = "";
}

@if (Model.IsEdit == true)
{
    act = "Edit";
}
else
{
    act = "Index";
}

@using (Html.BeginForm(act, "Tax"))
{
    
    
    <div class="col-sm-9 col-xs-12">
        <div class="page-heading">Tax</div>
        <div class="right-bar">

            @Html.ValidationSummary(true)

            <div class="row form-group">
                <div class="col-xs-12 col-sm-6">@Html.LabelFor(m => m.TaxName) <span class="clr-red">*</span>


                    @Html.TextBoxFor(m => m.TaxName, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.TaxName)
                </div>

                <div class="col-xs-12 col-sm-6">@Html.LabelFor(m => m.Value) <span class="clr-red">*</span>

                    @Html.TextBoxFor(m => m.Value, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.Value)
                </div>
            </div>
            @if (Model != null)
            {
                @Html.HiddenFor(model => model.TaxId, new { value = Model.TaxId })
            }

            <div class="text-right">
                @if (Model.TaxId == 0)
                {

                    <input type="submit" value="Submit" class="btns" />
                }
                else
                {
                    <input type="submit" value="Edit" class="btns" />
                }

            </div>

        </div>
        @if (Model != null && Model.lst.Count < 0)
        {
            <div>No record found</div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>SR No</th>
                            <th>Tax Name</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
            var count = 1;

            foreach (var item in Model.lst)
            {
                            <tr>
                                <td>@(count++)</td>
                                <td>@item.TaxName</td>
                                <td>@item.Value</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.TaxId}, new { @class = "glyphicon glyphicon-edit" })
                                    

                                </td>
                            </tr>
            
            }
                        }
                    </tbody>
                </table>
            </div>
        }


    </div> 
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".Tax").addClass("active-item");
            if ('@TempData["SuccessMsg"]' != "") {
                alert('@TempData["SuccessMsg"]');
            }

        });
    </script>

   
}